.col-lg-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

::ng-deep .nb-theme-dark nb-card {
  margin-bottom: 0px !important;
}
::ng-deep .nb-theme-cosmic nb-card {
  margin-bottom: 0px !important;
}
