<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="chmsu-logos" href="#/pages" (click)="navigateHome()">
      <img
        src="assets/images/logos.jpg"
        alt="Chmsu Logo"
        class="logo-image logo-small"
      />
    </a>
  </div>
</div>

<div class="header-container">
  <nb-select
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
    status="primary"
    size="small"
  >
    <nb-option *ngFor="let theme of themes" [value]="theme.value">
      {{ theme.name }}</nb-option
    >
  </nb-select>
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" matRipple>
      <nb-user
        [nbContextMenu]="userMenu"
        nbSpinnerStatus="success"
        [name]="auth?.getTokenUsername() | titlecase"
        [title]="auth?.getUserRole()"
        [onlyPicture]="userPictureOnly"
        [picture]="this.auth.domain + '/images/' + profile_pic"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
